
{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
{{ block.super }}
<style type="text/css">
	#inner {
		margin: 4em 25%;
	}

	div.module div {
		border: 1px solid #ddd;
		border-top-color: #636363;
		margin-top: -1px;
	}

	div.module p {
		padding-left: 1em;
		padding-right: 1em;
	}

	code, pre {
		background: #ffe;
	}

	pre {
		padding: 1em;
		margin: 0;
	}
</style>
{% endblock %}

{% block content %}
<div class="module">
	<h2>Welcome To School Kit Distribution Monitoring <br>System</br></h2>


	<div>
		<p>


This system support UNICEF Sudan CO and Ministry of Education to monitor the distribution and use of the four types of
school kits supplied to the school system in Sudan. Distribution monitoring will involve
monitoring time (in terms of how long it takes for kits to arrive at schools) and quality (in
terms of the condition of the supply boxes).
		</p>

		<p>
			
		</p>

		<p>
			
		</p>

		<pre>


	</div>
</div>
{% endblock %}

